*
!.gitignore
!.bashrc
!.bash_profile
!.config
!.config/alacritty
!.config/alacritty/**
!.config/fcitx5
!.config/fcitx5/**
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/mako
!.config/mako/**
!.config/mpd
!.config/mpd/**
!.config/ncmpcpp
!.config/ncmpcpp/config
!.config/sway
!.config/sway/**
!.config/waybar
!.config/waybar/**
!.config/zim
!.config/zim/style.conf
!.gnupg
!.gnupg/gpg-agent.conf
!.vim
!.vim/**
.vim/.netrwhist
!.vimrc
