[submodule ".vim/pack/lika/start/editorconfig-vim"]
	path = .vim/pack/lika/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/lika/start/coc.nvim"]
	path = .vim/pack/lika/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
